@import "../../styles/Variaveis";

.card {
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;

  &:hover {
    p,
    svg {
      color: $white-100;
      z-index: 15;
    }

    &::after {
      background-color: rgba(0, 0, 0, 0.5);
      /* backdrop-filter: blur(4px); */
    }
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparent;
    transition: all ease-in 300ms;
  }
}

.cardElements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    color: transparent;
  }

  & p svg {
    color: transparent;
    margin-right: 2px;
  }
}

